<div class="container">
  <h1 class="alert alert">{{ title }}</h1>
  <h3 class="alert">{{desc}}</h3>

  <ul class="alert alert-warning">
    <li>{{sidebar.login}}</li>
    <li>{{sidebar.logout}}</li>
    <li>{{sidebar.profile}}</li>
  </ul>
  
  <form (submit)="addSett(setting.value)">
    <label>Description:</label>
    <br />
    <input type="text" value="submit" ng-show="false" #setting />
  </form>

  <br />
  <form>
    <label>Username: .</label>
    <input type="text" name="username" [(ngModel)]="username" />
    <label>Password: .</label>
    <input type="text" name="password" [(ngModel)]="password" />
    <button class="flex btn btn-warning" (click)="loginUser()">Login</button>
  </form>

  <br />
  <button class="flex btn" (click)="toggleSettings()">{{showSettings ? "Hide" : "Show" }}</button>
  <br />
  <div *ngIf="showSettings">
    <br />
    <ul class="alert-success">
      <li *ngFor="let settings of settings">
        {{settings}}
      </li>
    </ul>
  </div>

  <hr />
  <h3> Posts </h3>
  <div *ngFor="let post of posts">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
  </div>
</div>