<div class="container">
  <h1 class="alert alert">{{ title }}</h1>
  <h3 class="alert">{{desc}}</h3>

  <form (submit)="submit(sett.value)">
    <div>
      <label for="sett">Add:</label>
      <br />
      <input type="text" #sett>
    </div>
  </form>

  <br />
  <ul class="alert alert-warning">
    <li>{{sidebar.login}}</li>
    <li>{{sidebar.logout}}</li>
    <li>{{sidebar.profile}}</li>
  </ul>

  <br />
  <form>
    <label>Username: .</label>
    <input type="text" name="username" [(ngModel)]="username" />
    <label>Password: .</label>
    <input type="text" name="password" [(ngModel)]="password" />
    <button class="flex btn btn-warning" (click)="loginUser()">Login</button>
  </form>

  <br />
  <button class="flex btn" (click)="toggleSettings()">{{showSettings ? "Hide" : "Show" }}</button>
  <br />
  <div *ngIf="showSettings">
    <br />
    <ul class="alert-success">
      <li *ngFor="let setting of settings">
        {{setting}} <button (click)="delete(setting)">x</button>
      </li>
    </ul>
  </div>

  <hr />
  <h1> Posts </h1>
  <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
    <p>{{post.userId}}</p>
  </div>
</div>